#root {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.main-background {
  display: flex;
  justify-content: center;

  width: 100%;
  transition-property: color, background;
  transition-duration: var(--tr-duration);
}

.main-background.isDarkScheme {
  background-color: var(--background-dark-scheme);
}

.reviewsContainer {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    to right,
    var(--background-light-scheme),
    var(--background-feed-light-scheme),
    var(--background-light-scheme)
  );
}

.reviewsContainer.isDarkScheme {
  background: linear-gradient(
    to right,
    var(--background-dark-scheme),
    var(--background-feed-dark-scheme),
    var(--background-dark-scheme)
  );
  color: var(--color-dark-scheme);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
